/* --- VARIABLES --- */
:root {
  /* COLORS */
  --blackColor: #272727;
  --greyColor: #e6e6e6;
  --whiteColor: #fdfdfd;
  --orangeColor: #edba83;
  --darkGreen: #518962;
  --mediumGreen: #67a379;
  --lightGreen: #aac479;
  --ultraLightGreen: #c3d899;

  /* TEXT SIZE */
  --textSizeH1: 4rem;
  --textSizeH2: 2.5rem;
  --textSizeH3: 2.2rem;
  --textSizeBase: 1.3rem;
}

.forsideHero {
  display: flex;
  grid-column: 1/-1;
}

.forsideHero h1 {
  font-size: var(--textSizeH1);
  margin-bottom: 0px;
}

.forsideHero p {
  font-size: var(--textSizeH3);
}

.forsideHero h1,
.forsideHero p {
  text-wrap: normal;
}

.forsideHeroImg {
  line-height: 0;
}

.forsideHeroImg img {
  height: 550px;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Intro section*/
.forsideIntro {
  display: flex;
  grid-column: 1/-1;
  background-color: var(--ultraLightGreen);
  align-items: center;
}

.forsideIntro p {
  font-size: var(--textSizeBase);
  text-wrap: normal;
  margin-inline: 60px;
  line-height: 40px;
}

.introImg {
  line-height: 0;
}

.introImg img {
  width: 700px;
  height: 350px;
  background-repeat: no-repeat;
  object-fit: cover;
}
.forsideDyrTilAdoption {
  display: flex;
  flex-direction: column;
}

.forsideDyrTilAdoption .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.animalCards {
  display: flex;
  justify-content: space-between;
}

.animalCard {
  background-color: var(--whiteColor);
  width: 310px;
  line-height: 0;
}

.animalCard h3 {
  margin-top: 5px;
  margin-bottom: 4px;
}

.animalCard p {
  margin-top: 1px;
}

.animalCard p,
.animalCard h3 {
  margin-left: 10px;
}

.animalCard img {
  width: 310px;
  height: 200px;
  object-fit: cover;
}

.animalCard a {
  color: var(--blackColor);
  text-decoration: none;
}

.gender {
  display: flex;
  align-items: baseline;
}

.gender i {
  margin-left: 5px;
}

.animalCard .animalCardInfo {
  padding: 5px 6px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: var(--blackColor);
  line-height: 20px;
}

.forsideBesøg {
  background-image: url(../img/forsideBesøgBanner.jpg);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
  background-size: cover;
  grid-column: 1/-1;
}
