/* --- VARIABLES --- */
:root {
  /* COLORS */
  --blackColor: #272727;
  --greyColor: #e6e6e6;
  --whiteColor: #fdfdfd;
  --orangeColor: #edba83;
  --darkGreen: #518962;
  --mediumGreen: #67a379;
  --lightGreen: #aac479;
  --ultraLightGreen: #c3d899;

  /* TEXT SIZE */
  --textSizeH1: 4.4rem;
  --textSizeH2: 2.5rem;
  --textSizeH3: 2.2rem;
  --textSizeBase: 1.9rem;
}

/* Dyr til adoption */
.forsideDyrTilAdoption {
  display: flex;
  flex-direction: column;
  margin-bottom: 50px;
}

.forsideDyrTilAdoption .titles {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.titles a {
  text-decoration: none;
  color: var(--blackColor);
  font-family: "Open Sans", sans-serif;
  font-weight: 600;
}

.animalCards {
  display: flex;
  justify-content: space-between;
}

.animalCard {
  background-color: var(--whiteColor);
  width: 310px;
  line-height: 0;
}

.animalCard h3 {
  margin-top: 5px;
  margin-bottom: 4px;
}

.animalCard p {
  margin-top: 1px;
}

.animalCard p,
.animalCard h3 {
  margin-left: 10px;
}

.animalCard img {
  width: 310px;
  height: 200px;
  object-fit: cover;
}

.animalCard a {
  color: var(--blackColor);
  text-decoration: none;
}

.gender {
  display: flex;
  align-items: baseline;
}

.gender i {
  margin-left: 5px;
}

.animalCard .animalCardInfo {
  padding: 5px 6px;
  border-top-style: none;
  border-right-style: solid;
  border-bottom-style: solid;
  border-left-style: solid;
  border-width: 1px;
  border-color: var(--blackColor);
  line-height: 20px;
}
